.bg-container {
    width: 100%;
    height: 350px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.title{
    font-size: 100px;
    padding-top: 50px;
    color: burlywood;
    font-weight: bold;
}

.hi{
    color: red;
}