<!doctype html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <title>AWS MUSIC</title>
    </head>
    <body>
        <div class="bg-container">
            <div class="title">AWS MUSIC</div>
            <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#addMusic">음악 추가</button>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal" data-target="#admin">설정</button>
        </div>
        
        <div class="modal fade" id="addMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">음악 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'main' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">제목:</label>
                                {{form.title}}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">설명:</label>
                                {{form.content}}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">파일:</label>
                                {{form.music}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">설정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'setting' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">S3 bucket name:</label>
                                <input name="s3-bucket-name" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">S3 region:</label>
                                <input name="s3-region" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="music-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Music</th>
                    </tr>
                </thead>
                <tbody>
                    {% for music in musics %}
                        <tr>
                            <td>{{music.title}}</td>
                            <td><audio src="{{music.music.url}}" controls></audio></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>